<article class="text-left" id="{{_id}}">
	<h3>{{headline}}</h3>

	<p>{{summary}}</p>

	<a href="{{url}}" target="_blank"><button class="btn btn-outline-info">Article Link</button></a>
	<a href="{{pdf}}" target="_blank"><button class="btn btn-outline-info">PDF Link</button></a>
	<button class="btn btn-outline-info commentsBtn">Comments</button>
</article>
