<article class="text-left" data-id="{{_id}}">
	<h3>{{headline}}</h3>

	<p>{{summary}}</p>

	<a href="{{url}}" target="_blank">Article Link!</a>
	<br>
	<a href="{{pdf}}" target="_blank">PDF Link!</a>
</article>
